@charset'utf-8';
body{
         color:green;
         font-size:16px;
     
	}
h1{
      text-align:center;
      font-family:"方正姚体，黑体，宋体";
      font-size:20px;
      color:red;
      font-weight:500;
  }
h2{
     font-family:黑体;
     font-size:16px;
     font-weight:medium;
     color:#099;
  }
p{
   line-height:2em;
 }
h4{
	width:0;
	height:0;
	border:10px solid transparent;
	border-top-color:#333;
	}
div{
	background-color:#0C9;
    margin-left:15%;
    margin-right:15%;
    font-size:18px;
    min-height:700px;
	}
.copyright{
	       text-align:center;
		   margin-width:0 0 10px 0;
	       }
.nav{
     background-color:#9F0;
     margin-left:15%;
     margin-right:15%;
     text-align:center;
     font-size:18px;
    }
	
